/**
 * **App Drawer Segment**
 * Groups related apps together inside the App Drawer.
 */

.skc-app-drawer-segment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: var(--radius-md);
  background-color: var(--color-surface-bright);
  padding: 1rem;
}

.skc-app-drawer-segment__title {
  margin-block: 0;
}

.skc-app-drawer-segment__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.75rem;
  margin-block: 0;
  padding-inline-start: 0;
}
