/**
 * **Avatar**
 * An avatar represents the user, whether by their initials or their picture.
 */

.skc-avatar {
  display: grid;
  position: relative;
  place-content: center;
  border-radius: 50%;
  background-color: var(--adaptive-primary-container);
  width: 2.5rem;
  height: 2.5rem;
  color: var(--color-primary);

  &:has(img) {
    background-color: var(--adaptive-surface-container);
  }

  img,
  svg {
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (width >= 600px) {
  .skc-fullscreen-dialog .skc-avatar:has(img) {
    background-color: var(--color-surface);
  }
}

@media (prefers-contrast: more) {
  .skc-avatar {
    color: var(--color-on-primary-container);
  }
}

.skc-avatar__initials {
  user-select: none;
}
