/**
 * **Button**
 * Button helps users take action, whether it’s logging in, liking a post, or
 * going to a page.
 */

/* --_button-foreground-color and --_button-background-color does not affect
   disabled state. */

.skc-button {
  --state-layer-color: var(--_button-foreground-color);

  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  border: none;
  border-radius: var(--rounded-full);
  background-color: var(--_button-background-color, transparent);
  padding: 0.625rem 1.5rem;
  overflow: hidden;
  font-family: var(--font-display);
  -webkit-tap-highlight-color: transparent;
}

.skc-button {
  > .skc-material-icon,
  > .skc-button__label {
    transition: opacity var(--motion-short-4) var(--easing-standard);
  }
}

.skc-button > .skc-material-icon {
  margin-left: -0.5rem;
  color: var(--state-layer-color);
  font-size: 1.25rem;
}

.skc-button > .skc-button__label {
  color: var(--state-layer-color);
  font-family: var(--font-display);
  text-align: center;
}

.skc-button:not(:has(> .skc-button__label)) {
  padding: 0.5rem;

  > .skc-material-icon {
    transition: font-weight var(--motion-short-4) var(--easing-standard);
    margin-left: 0;
    font-size: 1.5rem;
  }

  &:not([aria-disabled="true"]) {
    &:hover > .skc-material-icon {
      font-weight: 600;
    }
    &:active > .skc-material-icon {
      font-weight: 300;
    }
  }
}

.skc-button--disabled {
  cursor: default;

  &:is(.skc-button--filled, .skc-button--tonal):hover {
    box-shadow: none;
  }
}

.skc-button .skc-progress {
  --_indicator-color: var(--state-layer-color);
  --_remainder-color: transparent;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.25rem;
  height: 1.25rem;
  pointer-events: none;
}

.skc-button--loading {
  > .skc-material-icon,
  > .skc-button__label {
    opacity: 0;
  }
}

.skc-button--filled {
  --_button-foreground-color: var(--on-primary);
  --_button-background-color: var(--primary);
  transition: box-shadow var(--motion-short-4) var(--easing-standard);

  &:hover {
    box-shadow: var(--shadow-1);
  }

  &.skc-button--disabled {
    --state-layer-color: color-mix(in srgb, var(--on-surface) 38%, transparent);
    background-color: color-mix(in srgb, var(--on-surface) 12%, transparent);
  }
  &.skc-button--dangerous {
    --state-layer-color: var(--on-error);
    background-color: var(--error);
  }
}

.skc-button--tonal {
  --_button-foreground-color: var(--on-secondary-container);
  --_button-background-color: var(--secondary-container);
  transition: box-shadow var(--motion-short-4) var(--easing-standard);

  &:hover {
    box-shadow: var(--shadow-1);
  }

  &.skc-button--disabled {
    --state-layer-color: color-mix(in srgb, var(--on-surface) 38%, transparent);
    background-color: color-mix(in srgb, var(--on-surface) 12%, transparent);
  }
  &.skc-button--dangerous {
    --state-layer-color: var(--on-error-container);
    background-color: var(--error-container);
  }
}

.skc-button--outlined {
  --_button-foreground-color: var(--primary);
  border: 1px solid var(--outline);

  &:focus-visible {
    border-color: var(--state-layer-color);
  }

  &.skc-button--disabled {
    --state-layer-color: color-mix(in srgb, var(--on-surface) 38%, transparent);
    border-color: color-mix(in srgb, var(--on-surface) 12%, transparent);
  }
  &.skc-button--selected {
    --state-layer-color: var(--on-secondary-container);
    background-color: var(--secondary-container);
    &:focus-visible {
      border-color: var(--secondary);
    }
  }
  &.skc-button--dangerous {
    --state-layer-color: var(--error);
  }
}

.skc-button--text {
  --_button-foreground-color: var(--primary);
  background-color: transparent;
  padding-inline: 0.75rem;

  > .skc-material-icon {
    margin-left: -0.25rem;
  }

  &.skc-button--disabled {
    --state-layer-color: color-mix(in srgb, var(--on-surface) 38%, transparent);
  }
  &.skc-button--dangerous {
    --state-layer-color: var(--error);
  }
}
