/**
 * **Card Header**
 * The header of a Card. Sometimes all a Card needs is a Card Header.
 */

.skc-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding-inline: 1rem 0.25rem;
  padding-block: 0.75rem;
}

.skc-card-header__content {
  flex-grow: 1;
}

.skc-card-header :is(.skc-avatar, .skc-icon) {
  flex-shrink: 0;
}

.skc-card-header .skc-icon {
  color: var(--color-on-surface-variant);
}

.skc-card-header__title {
  margin-block: 0;
}

.skc-card-header__subtitle {
  margin-block: 0;
}
