/**
 * **Card**
 *
 * Card is a container for information and actions about a subject. It can be
 * in a list, on its own, or as a link to another page; Card is extremely versatile.
 *
 * To quote Material Design 3, there is no right way to make a Card. However,
 * we have provided some useful props and components to get you started.
 */

/* Base Card */
.skc-card {
  display: flex;
  transition: var(--motion-short-4) var(--easing-standard);
  transition-property: background-color, border-color, color;
  border-radius: var(--rounded-md);
  color: var(--on-surface);
  text-align: start;
  -webkit-tap-highlight-color: transparent;
}

/* Appearance */
.skc-card--outlined {
  border: 1px solid var(--outline-variant);
  background-color: var(--surface);
}

.skc-card--elevated {
  box-shadow: var(--shadow-2);
  background-color: var(--surface-container-low);
}

.skc-card--filled {
  background-color: var(--adaptive-surface-variant);

  > * {
    --adaptive-secondary-container: light-dark(
      var(--secondary-fixed-dim),
      var(--secondary-container)
    );
    --adaptive-surface-variant: var(--surface-bright);
    --adaptive-surface-container: var(--surface-bright);
  }
}

/* Direction */
.skc-card,
.skc-card--column {
  flex-direction: column;
}

.skc-card--row {
  flex-direction: row;
}

/* State layer effect */
.skc-card.skc-interactive {
  --state-layer-color: var(--on-surface-variant);
}

/* Shadow effect */
.skc-card--elevated.skc-interactive--shadow {
  &:hover {
    box-shadow: var(--shadow-3);
  }
  &:active {
    box-shadow: var(--shadow-2);
  }
}

/* Nested Card */
:is(.skc-card--filled, .skc-dialog) .skc-card {
  &.skc-card--outlined {
    border-color: var(--outline);
    background-color: transparent;
  }
  &.skc-card--filled {
    --adaptive-primary-container: light-dark(
      var(--primary-container),
      var(--surface-container-high)
    );
  }

  &.skc-interactive {
    border: 0px solid var(--outline-variant);
    &:hover {
      margin: -1px;
      border-width: 1px;
    }
  }

  &:has(> .skc-card-content) {
    > .skc-card-header {
      padding: 0.5rem 0.75rem 0;
    }
    > .skc-card-content {
      padding: 0 0.75rem 0.5rem;
    }
  }
}
