/**
 * **Chip** (private)
 * Shared base styles for all chip types: Filter Chip, Suggestion Chip,
 * Assist Chip, and Input Chip.
 */

.skc-chip {
  --state-layer-color: var(--color-on-surface-variant);

  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition-property: background-color, border-color, color;
  transition: var(--duration-short-4) var(--ease-standard);
  border: 1px solid var(--color-outline);
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 0.375rem 1rem;
  color: var(--color-on-surface);

  &::before,
  .skc-interactive__ripple-layer {
    inset: -1px;
  }

  > .skc-chip__icon {
    --_icon-size: 1.125rem;
    margin-inline-start: -0.5rem;
    color: var(--color-primary);

    > svg {
      width: auto;
      height: var(--_icon-size);
    }

    > .skc-material-icon {
      font-size: var(--_icon-size);
    }
  }

  /* Disabled */
  &[aria-disabled="true"] {
    border-color: transparent;
    border-color: color-mix(in srgb, var(--color-on-surface) 12%, transparent);
    overflow: visible;

    &,
    .skc-chip__icon {
      opacity: 0.38;
      color: var(--color-on-surface-variant);
    }
  }
}

/* Elevated */
.skc-chip--elevated {
  box-shadow: var(--shadow-1);
  border: none;
  background-color: var(--color-surface-container-low);

  &.skc-chip--selected {
    background-color: var(--adaptive-secondary-container);
  }

  &[aria-disabled="true"] {
    box-shadow: none;
    background-color: color-mix(
      in srgb,
      var(--color-on-surface) 12%,
      transparent
    );
  }
}

/* Dangerous */
.skc-chip--dangerous {
  .skc-material-icon {
    color: var(--color-error);
  }
}

/* Selected */
.skc-chip--selected,
.skc-chip-field--last-chip-selected .skc-chip-set > .skc-chip:last-child {
  border-color: transparent;
  background-color: var(--adaptive-secondary-container);
  color: var(--color-on-secondary-container);

  .skc-material-icon,
  .skc-chip__trailing-button {
    color: var(--color-on-secondary-container);
  }
}

/* Label */
.skc-chip__label {
  font-family: var(--font-display);
  white-space: nowrap;
}

/* Trailing button */
.skc-chip .skc-chip__trailing-button {
  --state-layer-color: var(--color-on-surface);
  margin-inline-end: -0.75rem;
  margin-block: -0.125rem;

  padding: 0.1875rem;
  color: var(--color-on-surface);

  .skc-material-icon {
    width: 1.125rem;
    height: 1.125rem;
    font-size: 1.125rem;
  }
}

/* Hide Chip state layer when Button state layer is visible */
.skc-chip__trailing-button {
  @media (any-hover: hover) {
    .skc-chip:has(&:hover) {
      &::before,
      > .skc-interactive__ripple-layer {
        opacity: 0;
        opacity: 0;
      }
    }
  }
  .skc-chip:has(&:focus-visible) {
    &::before,
    > .skc-interactive__ripple-layer {
      opacity: 0;
      opacity: 0;
    }
  }
}

/* Hide leading icon when Chip has a trailing Button */
.skc-chip:has(.skc-chip__trailing-button:last-child) > .skc-material-icon {
  display: none;
}
