/**
 * **Columns**
 *
 * Columns break up content on larger screens into multiple columns, so as to
 * make the content easier to read. On smaller screens, Columns automatically
 * collapse columns into one column.
 *
 * Columns is built on a 12-column grid. This grid system keeps elements
 * visually aligned across the page, creating a consistent rhythm.
 */

.skc-columns {
  display: grid;
  grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
  align-items: start;
  gap: 0.5rem 1.5rem;
}

@media (width < 38rem) {
  .skc-columns--2,
  .skc-columns--3,
  .skc-columns--4 {
    --column-count: 1;
  }
  .skc-columns--6,
  .skc-columns--12 {
    --column-count: 2;
  }
}

@media (38rem <= width < 56rem) {
  .skc-columns--2,
  .skc-columns--3,
  .skc-columns--4 {
    --column-count: 2;
  }
  .skc-columns--6 {
    --column-count: 4;
  }
  .skc-columns--12 {
    --column-count: 8;
  }
}

@media (width >= 56rem) {
  .skc-columns--2 {
    --column-count: 2;
  }
  .skc-columns--3 {
    --column-count: 3;
  }
  .skc-columns--4 {
    --column-count: 4;
  }
  .skc-columns--6 {
    --column-count: 6;
  }
  .skc-columns--12 {
    --column-count: 12;
  }
}
