/**
 * **Content Layout**
 * A simple width-clamped vertical flow of content with minimal default styling.
 */

.skc-content-layout {
  --_content-layout-gutter: 1rem;
  padding: 1rem 0;
}

.skc-content-layout__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 70.5rem;
  width: calc(100% - (2 * var(--_content-layout-gutter)));
}

/* @media only screen and (max-width: 600px) {
  .skc-content-layout__content {
    &,
    > .skc-columns {
      > .skc-section > :not(.skc-list) {
        margin-inline: 1rem;
      }
    }
  }
} */

@media only screen and (min-width: 600px) {
  .skc-content-layout {
    --_content-layout-gutter: 10rem;
    padding: 1.5rem 2rem 2.25rem;
  }
}
