/**
 * **Content Layout**
 * A simple width-clamped vertical flow of content with minimal default styling.
 */

.skc-content-layout {
  padding: 1rem 0;
}

.skc-content-layout__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
  max-width: 70.5rem;

  &,
  > .skc-columns {
    > .skc-section > * {
      margin-inline: 1rem;
    }
  }
}

@media only screen and (width >= 40rem) {
  .skc-content-layout {
    padding: 1.5rem 2rem 2.25rem;
  }

  .skc-content-layout__content {
    width: calc(100% - 10rem);

    &,
    > .skc-columns {
      > .skc-section > * {
        margin-inline: 0;
      }
    }
  }
}
