/**
 * **Data Table Content**
 * The main part of a Data Table.
 */

.skc-data-table-content {
  background-color: var(--surface);
  width: 100%;
  /* On mobile, allow horizontal scroll. Disabled at md+ because overflow-x
     forces overflow-y: auto per the CSS spec, which interferes with Menus. */
  overflow-x: auto;
}

.skc-data-table-content__content {
  border-collapse: collapse;
  width: 100%;
  text-indent: 0;
}

:is(.skc-data-table-cell, .skc-table-cell) {
  .skc-data-table-content__content > :first-child & {
    border-top: 0;
  }
  .skc-data-table-content__content > :last-child & {
    border-bottom: 0;
  }
  &:first-child {
    border-left: 0;
  }
  &:last-child {
    border-right: 0;
  }
}
