/**
 * **Data Table Pagination**
 * At the footer of a Data Table, Data Table Pagination provides controls for
 * paginating the Data Table data, including the current rows and navigating
 * to forward and backward on pages.
 */

.skc-data-table-pagination {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid var(--outline-variant);
  background-color: var(--surface-container-low);
  padding: 0.375rem 1.5rem;
}

.skc-data-table-pagination__label {
  font-weight: var(--font-regular);
  font-size: var(--text-lg);
  line-height: 1.5;
  font-family: var(--font-display);
}

.skc-data-table-pagination__controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

.skc-data-table-pagination__controls .skc-button {
  --_button-foreground-color: var(--on-surface-variant);
  margin-inline-end: -0.5rem;
}
