/**
 * **Dialog Header**
 * The header section contains the title and supporting text of a Dialog. It
 * should clearly communicate the Dialog's purpose so the user can quickly
 * make a decision or enter information.
 */

.skc-dialog-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1.5rem 0;
}

.skc-dialog-header > .skc-material-icon {
  align-self: center;
  color: var(--color-secondary);
  font-size: 1.5rem;

  ~ h2 {
    text-align: center;
  }
}

.skc-dialog-header > h2 {
  margin-block: 0;
  color: var(--color-on-surface);
}

.skc-dialog-header > p {
  margin-block: 0;
  color: var(--color-on-surface-variant);
}
