/**
 * **Filter Chip**
 * A set of Filter Chips provide product-authored options to narrow down
 * content. Filter Chips appear in a Chip Set.
 */

.skc-filter-chip__arrow {
  transition: transform var(--duration-short-4) var(--ease-standard);
  margin-inline-end: -0.5rem;
  font-size: 1.125rem;

  &,
  &.skc-material-icon {
    color: inherit;
  }

  .skc-filter-chip:has(+ .skc-menu:popover-open:not(.skc-menu--exiting)) & {
    transform: rotate(180deg);
  }
}
