/**
 * **Interactive**
 * Indicates interactivity with a state layer and a ripple effect.
 */

.skc-interactive {
  display: block;
  position: relative;
  border: 0;
  background-color: transparent;
  overflow: hidden;
  touch-action: manipulation;
  text-decoration: none;

  &:not([aria-disabled="true"]) {
    cursor: pointer;

    &:hover::before {
      opacity: 0.08;
    }
    &:is(:focus-visible, :active)::before {
      opacity: 0.12;
    }
  }
}

.skc-interactive--no-state-layer::before {
  display: none;
}

.skc-interactive--shadow {
  transition: box-shadow var(--motion-short-4) var(--easing-standard);

  &:not([aria-disabled="true"]) {
    &:hover {
      box-shadow: var(--shadow-1);
    }
    &:active {
      box-shadow: none;
    }
  }
}

.skc-interactive::before {
  position: absolute;
  opacity: 0;
  transition: opacity var(--motion-short-3);
  inset: 0;
  border-radius: inherit;
  background-color: var(--state-layer-color);
  pointer-events: none;
  content: "";
}

.skc-interactive__ripple-layer {
  position: absolute;
  filter: blur(0.5rem);
  inset: 0;
  overflow: visible;
  pointer-events: none;
  user-select: none;

  .skc-interactive[aria-disabled="true"] & {
    display: none;
  }
}

.skc-interactive__ripple {
  position: absolute;
  transform: scale(0);
  opacity: 0.25;
  transition:
    transform var(--motion-long-2),
    opacity var(--motion-long-2);
  border-radius: var(--rounded-full);
  background-color: var(--state-layer-color);
  aspect-ratio: 1 / 1;
}
