/**
 * **List Item**
 * An item inside a List.
 */

.skc-list-item {
  --state-layer-color: var(--color-on-surface);

  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  padding-inline: 1rem 2rem;
  padding-block: 0.5rem;
  width: 100%;
  overflow: hidden;
  text-decoration: none;

  > img {
    background-color: var(--color-surface-variant);
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* Alignment */
.skc-list-item--top {
  align-items: flex-start;
}

.skc-list-item--center {
  align-items: center;
}

.skc-list-item--bottom {
  align-items: flex-end;
}

/* Lines */
.skc-list-item--3-lines {
  padding-block: 0.75rem;
}

/* State layer in Columns: add rounded corners at sm+ */
@media (width >= 40rem) {
  .skc-columns > .skc-list-item--state-layer {
    border-radius: var(--radius-md);
  }
}
