/**
 * **Menu**
 * Menus display a list of choices on temporary surfaces.
 */

.skc-menu {
  --_duration: var(--motion-medium-4);
  --_easing: var(--easing-emphasized);

  position-try-fallbacks:
    flip-block,
    flip-inline,
    flip-block flip-inline;
  inset: auto;
  top: calc(anchor(bottom) + 0.5rem);
  left: anchor(left);
  flex-direction: column;
  transform: scaleY(0);
  transform-origin: top;
  transition-property: transform, opacity;
  transition: var(--_duration) var(--_easing);
  box-sizing: border-box;
  margin: 0;
  box-shadow: var(--shadow-3);
  border: none;
  border-radius: var(--rounded-xs);
  background-color: var(--surface-container);
  padding: 0.5rem 0;
  min-width: 12rem;
  max-height: 70svh;
  overflow: visible;
  overflow-y: auto;
  list-style: none;

  > * {
    opacity: 0;
    transition: opacity calc(var(--_duration) / 3) var(--_easing)
      calc(var(--_duration) / 3);
  }

  /* Open state */
  &:popover-open {
    display: flex;
    transform: scaleY(1);
    opacity: 1;

    > * {
      opacity: 1;
    }

    @starting-style {
      transform: scaleY(0);

      > * {
        opacity: 0;
      }
    }
  }
}

.skc-menu-item {
  .skc-menu--density-0 & {
    padding-block: 0.5rem;
  }
  .skc-menu--density-\[-2\] & {
    padding-block: 0.25rem;
  }
  .skc-menu--density-\[-4\] & {
    padding-block: 0;
  }
}

.skc-menu > .skc-divider {
  margin-block: 0.5rem;
}

@keyframes skc-menu-exit {
  from {
    transform: scaleY(1);
    opacity: 1;
  }
  to {
    transform: scaleY(0);
    opacity: 0;
  }
}
@keyframes skc-menu-exit-content {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.skc-menu--exiting {
  animation: var(--_duration) var(--_easing) forwards skc-menu-exit;

  > * {
    animation: calc(var(--_duration) / 3) var(--_easing) forwards
      skc-menu-exit-content;
  }
}

@media (prefers-reduced-motion: reduce) {
  .skc-menu {
    transform: none;
    transition-property: opacity;
  }

  .skc-menu:popover-open {
    transform: none;
  }

  @starting-style {
    .skc-menu:popover-open {
      transform: none;
      opacity: 0;
    }
  }

  .skc-menu > * {
    opacity: 1;
    transition: none;
  }

  .skc-menu--exiting {
    animation: var(--_duration) var(--_easing) forwards skc-fade-out;
  }

  .skc-menu--exiting > * {
    opacity: 0;
    animation: none;
  }
}
