/**
 * **Menu Item**
 * An action/option inside a temporary list.
 */

.skc-menu-item {
  --state-layer-color: var(--on-surface);

  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  width: 100%;
  overflow: hidden;
  color: var(--on-surface);
  -webkit-tap-highlight-color: transparent;

  &:focus-visible {
    outline-offset: -3px;
  }
}

.skc-menu-item__label {
  flex-grow: 1;
  margin-block: 0.5rem;
  text-align: left;
}

.skc-menu-item__metadata {
  color: var(--on-surface-variant);
  text-align: right;
}

.skc-menu-item--selected {
  background-color: var(--surface-container-highest);
}

.skc-menu-item--dangerous:not([aria-disabled="true"]) {
  --state-layer-color: var(--error);

  &,
  > .skc-menu-item__metadata {
    color: var(--error);
  }
}

.skc-menu-item[aria-disabled="true"] {
  opacity: 0.38;
}
