/**
 * **Navigation Bar Item**
 * One of the destinations in a Navigation Bar/Rail.
 */

.skc-nav-bar-item {
  --_duration: var(--duration-short-4);
  --_ease: var(--ease-standard);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: var(--color-on-surface);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;

  /* Show the focus ring on the pill instead of the whole item */
  &:focus-visible {
    animation: none;
  }

  &:hover .skc-nav-bar-item__pill::before {
    opacity: 0.08;
  }
  &:active,
  &:focus-visible {
    .skc-nav-bar-item__pill::before {
      opacity: 0.12;
    }
  }
}

.skc-nav-bar-item__pill {
  --state-layer-color: var(--color-on-surface);

  transition: color var(--_duration) var(--_ease);
  border-radius: var(--radius-full);
  padding: 0.25rem 1rem;

  .skc-material-icon {
    transition-property: font-weight, font-variation-settings;
    transition: var(--_duration) var(--_ease);
    font-size: 1.5rem;
    font-variation-settings: "FILL" 0;

    .skc-nav-bar-item:hover & {
      font-weight: 500;
    }
    .skc-nav-bar-item:active & {
      font-weight: 300;
    }
  }

  &::after {
    position: absolute;
    transform: scaleX(0);
    opacity: 0;
    z-index: -10;
    transition-property: opacity, transform;
    transition: var(--_duration) var(--_ease);
    inset: 0;
    border-radius: inherit;
    background-color: var(--color-secondary-container);
    pointer-events: none;
    content: "";
  }

  .skc-nav-bar-item:focus-visible & {
    animation: skc-focus var(--duration-long-4) var(--ease-standard) forwards;
  }
}

.skc-nav-bar-item__label {
  transition-property: font-weight;
  transition: var(--_duration) var(--_ease);
  font-family: var(--font-display);
  text-align: center;

  .skc-nav-bar-item.skc-nav-bar-item--selected & {
    font-weight: var(--font-weight-bold);
  }
}

.skc-nav-bar-item--selected {
  .skc-nav-bar-item__pill {
    --state-layer-color: var(--color-on-secondary-container);
    color: var(--color-on-secondary-container);

    &::after {
      transform: scaleX(1);
      opacity: 1;
    }
  }

  .skc-material-icon {
    font-variation-settings: "FILL" 1;
  }

  .skc-nav-bar-item__label {
    font-weight: var(--font-weight-bold);
  }
}

@media (width < 38rem) {
  .skc-nav-bar-item {
    padding: 0.75rem 0 1rem;
  }

  .skc-nav-bar-item--rail-only {
    display: none;
  }

  .skc-nav-bar-item__label {
    transition-property: font-weight, letter-spacing;

    .skc-nav-bar-item:hover & {
      font-weight: var(--font-weight-bold);
      letter-spacing: 0.75px;
    }

    .skc-nav-bar-item:active & {
      font-weight: var(--font-weight-regular);
      letter-spacing: 0.375px;
    }
  }
}

@media (width >= 38rem) {
  .skc-nav-bar-item {
    padding: 0 0 0.25rem;
  }
}

@media (prefers-reduced-motion: reduce) {
  .skc-nav-bar-item__pill::after {
    transform: none;
    transition-property: opacity;
  }

  .skc-nav-bar-item--selected .skc-nav-bar-item__pill::after {
    transform: none;
  }
}
