/**
 * **Navigation Drawer Item**
 * A destination in a Navigation Drawer. Always place inside a Navigation Drawer
 * Section.
 */

.skc-nav-drawer-item {
  --state-layer-color: var(--color-on-surface);

  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--radius-full);
  padding-inline: 1rem 1.5rem;
  padding-block: 1rem;
  width: 100%;
  overflow: hidden;
  color: var(--state-layer-color);
  text-align: start;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.skc-nav-drawer-item__label {
  flex-grow: 1;
}

.skc-nav-drawer-item--selected {
  --state-layer-color: var(--color-on-secondary-container);
  background-color: var(--color-secondary-container);

  .skc-material-icon {
    font-variation-settings: "FILL" 1;
  }

  .skc-nav-drawer-item__label {
    font-weight: var(--font-weight-bold);
  }
}

/* Prevent Navigation Drawer Item from flashing when Navigation Drawer is
   closing */
@media (prefers-reduced-motion: reduce) {
  .skc-nav-drawer-item {
    transition: background-color 0ms;
    transition-delay: var(--duration-long-4);
  }
}

@media (forced-colors: active) {
  .skc-nav-drawer-item--selected {
    background-color: Highlight;
  }
}
