/**
 * **Page Header**
 * There’s exactly one Page Header on every page. It displays the title (in
 * the only `<h1>` on the page), the back Button for navigating up, and
 * the App Drawer.
 */

.skc-page-header {
  /* How much the user has to scroll after the Page Header visually exits for
     the minimized version to fully appear */
  --_botton-animation-runway-height: 12rem;
  --_bottom-animation-starting-offset: 3rem;

  view-timeline: --_page-header-timeline;
  margin-bottom: calc(var(--_botton-animation-runway-height) * -1);
  padding: 1rem 0 calc(var(--_botton-animation-runway-height) + 1rem);
}

.skc-page-header__content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0 0.25rem;
  margin: 0 auto;
  padding-inline: 0.5rem 1rem;
  max-width: 70.5rem;
}

[dir="rtl"] .skc-page-header__back .skc-material-icon {
  transform: scaleX(-1);
}

.skc-page-header__text {
  flex-grow: 1;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.skc-page-header__blobs {
  position: absolute;
  bottom: auto;
  z-index: -10;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
}

.skc-page-header__blob--primary {
  fill: light-dark(var(--color-primary-95), var(--color-primary-20));
}
.skc-page-header__blob--secondary {
  fill: light-dark(var(--color-secondary-90), var(--color-secondary-10));
}

.skc-page-header__fade {
  position: absolute;
  inset: 0;
  bottom: auto;
  background-image: linear-gradient(
    to bottom,
    var(--color-background),
    transparent
  );
  height: 5rem;
}

.skc-page-header__blobs-group--desktop {
  display: none;
}
.skc-page-header__blobs-group--mobile {
  display: block;
}

.skc-page-header__minimized {
  display: none;
  position: fixed;
  top: 1rem;
  z-index: 80;
  animation: skc-page-header-minimized-entry var(--ease-standard) backwards;
  animation-timeline: --_page-header-timeline;
  animation-range: exit 20%;
  inset-inline-start: 0.5rem;
}
@supports (view-timeline: --_page-header-timeline) {
  .skc-page-header__minimized {
    display: block;
  }
}

.skc-page-header__minimized-blobs {
  position: absolute;
  inset: -2.25rem;
}

@media only screen and (width >= 600px) {
  .skc-page-header {
    margin-bottom: 0;
    padding: 1.25rem 2rem 0.5rem;
  }

  .skc-page-header__content {
    column-gap: 0.5rem;
    padding-inline: 0;
    width: calc(100% - 10rem);

    > .skc-button:first-child {
      margin-inline-start: -0.5rem;
    }
  }

  .skc-page-header__blobs-group--desktop {
    display: block;
  }
  .skc-page-header__nav-toggle,
  .skc-page-header__minimized,
  .skc-page-header__blobs-group--mobile {
    display: none;
  }
}

@keyframes skc-page-header-minimized-entry {
  from {
    transform: translateY(var(--_bottom-animation-starting-offset));
    opacity: 0;
    pointer-events: none;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}

@media (prefers-reduced-motion: reduce) {
  .skc-page-header__minimized {
    --_bottom-animation-starting-offset: 0;
  }
}
