/**
 * **Progress**
 * A Progress indicates that something is ongoing. It can also indicate how
 * much of that something has been done.
 */

.skc-progress {
  --_indicator-color: var(--color-primary);
  --_remainder-color: var(--color-primary-container);

  transform: scaleX(var(--inline-forward));
}

/* Linear determinate */
.skc-progress--linear {
  .skc-progress__track {
    display: flex;
    position: relative;
    gap: 0.25rem;
    transform: scaleY(1);
    transition: transform var(--duration-short-4) var(--ease-standard);
    height: 0.25rem;

    @starting-style {
      transform: scaleY(0);
    }

    /* Already flipped by parent */
    [dir="rtl"] & {
      flex-direction: row-reverse;
    }

    &,
    > * {
      border-radius: var(--radius-full);
    }
  }

  .skc-progress__indicator {
    transition: width var(--duration-short-3) var(--ease-standard);
    background-color: var(--_indicator-color);
  }

  .skc-progress__remainder {
    flex-grow: 1;
    background-color: var(--_remainder-color);
  }

  .skc-progress__stop {
    position: absolute;
    inset: 0 0 0 auto;
    background-color: var(--_indicator-color);
    aspect-ratio: 1;
  }
}
@media (prefers-contrast: more) {
  .skc-progress--linear .skc-progress__remainder {
    box-sizing: border-box;
    border: 1px solid var(--_remainder-color);
    background-color: var(--color-surface);
  }
}

/* Linear indeterminate */
.skc-progress--indeterminate.skc-progress--linear {
  .skc-progress__track {
    overflow-x: hidden;

    > * {
      position: absolute;
      inset: 0;
    }
  }

  .skc-progress__indicator {
    transform: translateX(-100%);
    z-index: 10;
    animation: skc-progress-linear-dash 1s ease-in-out infinite;
  }
  .skc-progress__stop {
    display: none;
  }
}

@keyframes skc-progress-linear-dash {
  100% {
    transform: scaleX(0.5) translateX(150%);
  }
}

/* Circular determinate */
.skc-progress--circular {
  width: 3rem;
  height: 3rem;

  .skc-progress__track {
    transform: rotate(270deg);
    width: 100%;
    height: 100%;

    > * {
      transition:
        stroke-width var(--duration-short-4) var(--ease-standard),
        stroke-dashoffset var(--duration-short-2) var(--ease-standard);
      stroke-dasharray: 200;
      stroke-linecap: round;
      stroke-width: 4px;

      @starting-style {
        stroke-width: 0;
      }
    }
  }

  .skc-progress__indicator {
    stroke: var(--_indicator-color);
  }

  .skc-progress__remainder {
    stroke: var(--_remainder-color);
  }
}
@media (prefers-contrast: more) {
  .skc-progress--circular .skc-progress__remainder {
    display: none;
  }
}

/* Circular indeterminate */
.skc-progress--indeterminate.skc-progress--circular {
  .skc-progress__track {
    transform: rotate(0deg);
    animation: skc-progress-circular-rotate 2s linear infinite;
  }

  .skc-progress__indicator {
    animation: skc-progress-circular-dash 1.5s ease-in-out infinite;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  .skc-progress__remainder {
    display: none;
  }
}

@keyframes skc-progress-circular-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes skc-progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -135;
  }
}

@media (prefers-reduced-motion: reduce) {
  .skc-progress--indeterminate.skc-progress--linear .skc-progress__indicator {
    transform: none;
    opacity: 0.5;
  }
  .skc-progress--indeterminate.skc-progress--circular .skc-progress__indicator {
    opacity: 0.75;
    stroke-dasharray: 0;
  }

  .skc-progress--indeterminate.skc-progress--linear .skc-progress__indicator,
  .skc-progress--indeterminate.skc-progress--circular .skc-progress__indicator {
    animation: skc-fade-in 1s ease-in-out alternate infinite;
  }
}
