/**
 * **Radio**
 * A choice from a single-select set of choices. Unlike Checkbox and Switch,
 * Radio always appears in a group.
 */

.skc-radio {
  --state-layer-color: var(--color-on-surface);
  --_target-size: 2.5rem;
  --_circle-size: 1.125rem;
  --_marker-size: 0.625rem;

  --_padding: calc((var(--_target-size) - var(--_circle-size)) / 2);
  margin: calc(var(--_padding) * -1);
  border-radius: var(--radius-full);
  padding: var(--_padding);
}

.skc-radio:has(:focus-visible) {
  animation: skc-focus var(--duration-long-4) var(--ease-standard) forwards;
}

.skc-radio__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.skc-radio__circle {
  display: grid;
  place-content: center;
  transition: border-color var(--duration-short-2) var(--ease-standard);
  box-sizing: border-box;
  border: 2px solid var(--color-on-surface-variant);
  border-radius: var(--radius-full);
  background-color: transparent;
  width: var(--_circle-size);
  height: var(--_circle-size);
  pointer-events: none;
}

.skc-radio__marker {
  transform: scale(0);
  transition: transform var(--duration-short-2) var(--ease-standard);
  border-radius: inherit;
  background-color: var(--color-primary);
  width: var(--_marker-size);
  height: var(--_marker-size);
}

.skc-radio:has(:checked) {
  --state-layer-color: var(--color-primary);

  .skc-radio__circle {
    border-color: var(--color-primary);
  }

  .skc-radio__marker {
    transform: scale(1);
  }
}

.skc-radio--disabled {
  --state-layer-color: transparent;

  .skc-radio__circle {
    opacity: 0.38;
    border-color: var(--color-on-surface);
  }

  .skc-radio__marker {
    background-color: var(--color-on-surface);
  }
}
.skc-radio.skc-radio--disabled {
  cursor: default;
}

@media (prefers-reduced-motion: reduce) {
  .skc-radio__marker {
    transform: none;
    opacity: 0;
    transition: opacity var(--duration-short-2) var(--ease-standard);
  }

  .skc-radio:has(:checked) .skc-radio__marker {
    transform: none;
    opacity: 1;
  }
}

@media (forced-colors: active) {
  .skc-radio__marker {
    background-color: Highlight;
  }
}
