/**
 * **Root Layout**
 * The container of everything inside an application. Components which must
 * appear only once — Navigation Drawer, Navigation Bar, FAB, and Page Header
 * — only work optimally as direct descendants of Root Layout.
 */

body {
  transition-property: background-color, color;
  transition: var(--motion-short-4) var(--easing-standard);
  margin: 0;
  background-color: var(--background);
  overflow-x: hidden;
  color: var(--on-background);
}

.skc-root-layout {
  --_bottom-offset: 0rem;

  font-size: var(--text-base);

  > .skc-nav-bar {
    position: fixed;
    z-index: 70;
    inset: 0;
  }

  > .skc-progress {
    position: fixed;
    inset: 0;
  }
}

@media (width < 600px) {
  .skc-root-layout {
    padding-bottom: calc(
      1rem + var(--_nav-size, 0rem) + var(--_fab-size, 0rem)
    );

    > .skc-nav-bar {
      top: auto;
    }
  }

  .skc-root-layout:has(> .skc-nav-bar) {
    --_nav-size: 5rem;
    --_fab-size: 3.5rem;

    &:has(> .skc-fab.skc-fab--small) {
      --_fab-size: 2.5rem;
    }
    &:has(> .skc-fab.skc-fab--large) {
      --_fab-size: 6rem;
    }

    &:not(:has(dialog[open])):has(> .skc-fab) .skc-snackbar {
      --_bottom-offset: calc(1.25rem + var(--_nav-size) + var(--_fab-size));
    }
  }
}

@media (width >= 600px) {
  .skc-root-layout {
    padding-bottom: 0;

    > .skc-nav-bar {
      inset-inline-end: auto;

      ~ .skc-progress {
        inset-inline-start: 5rem;
      }
    }

    &:has(> .skc-nav-bar) > .skc-fab {
      inset: auto;
      top: 6rem;
      inset-inline-start: 0.75rem;
      box-shadow: none;
    }
    &:has(> .skc-fab) > .skc-nav-bar .skc-nav-bar-item {
      transform: translateY(3.5rem);
    }
  }
}

@media print {
  body {
    --surface: var(--white);
    --background: var(--white);
  }

  .skc-root-layout {
    .skc-page-header__blobs,
    > .skc-fab,
    > .skc-nav-bar {
      display: none;
    }
  }
}
