/**
 * **Root Layout**
 * The container for everything in your application. Components like Nav
 * Drawer, Navigation Bar, FAB, and Page Header each appear exactly once, and they
 * work best as direct children of Root Layout.
 */

body {
  /* Defaults for adaptive colors */
  --adaptive-primary-container: var(--color-primary-container);
  --adaptive-secondary-container: var(--color-secondary-container);
  --adaptive-background: var(--color-background);
  --adaptive-surface-variant: var(--color-surface-variant);
  --adaptive-surface-container: var(--color-surface-container);

  transition-property: background-color, color;
  transition: var(--duration-short-4) var(--ease-standard);
  margin: 0;
  background-color: var(--color-background);
  overflow-x: hidden;
  color: var(--color-on-background);
}

.skc-root-layout {
  --_bottom-offset: 0rem;

  font-size: var(--text-base);

  > .skc-nav-bar {
    position: fixed;
    z-index: 70;
    inset: 0;
  }

  > .skc-progress {
    position: fixed;
    z-index: 80;
    margin: auto;
    inset: 0;
    pointer-events: none;
  }
}

@media (width < 38rem) {
  .skc-root-layout {
    padding-bottom: calc(
      1rem + var(--_nav-size, 0rem) + var(--_fab-size, 0rem)
    );

    > .skc-nav-bar {
      top: auto;
    }
  }

  .skc-root-layout:has(> .skc-nav-bar) {
    --_nav-size: 0rem;
    --_fab-size: 0rem;

    /* Height + gap */
    &:has(> .skc-nav-bar) {
      --_nav-size: 5rem;
    }
    &:has(> .skc-fab) {
      --_fab-size: calc(3.5rem + 1rem);
    }
    &:has(> .skc-fab.skc-fab--small) {
      --_fab-size: calc(2.5rem + 1rem);
    }
    &:has(> .skc-fab.skc-fab--large) {
      --_fab-size: calc(6rem + 1rem);
    }

    &:not(:has(dialog[open])) .skc-snackbar {
      --_bottom-offset: calc(var(--_nav-size) + var(--_fab-size));
    }
  }
}

@media (width >= 38rem) {
  .skc-root-layout {
    padding-bottom: 0;

    > .skc-nav-bar {
      inset-inline-end: auto;
    }

    &:has(> .skc-nav-bar) > .skc-fab {
      inset: auto;
      top: 6rem;
      inset-inline-start: 0.75rem;
      box-shadow: none;
    }
    &:has(> .skc-fab) > .skc-nav-bar .skc-nav-bar-item {
      transform: translateY(3.5rem);
    }
  }

  .skc-root-layout:has(> .skc-split-layout) {
    > .skc-page-header__blobs {
      position: fixed;
      > .skc-page-header__fade {
        display: none;
      }
    }
    > .skc-page-header {
      position: sticky;
      top: 0;
      z-index: 20;
    }
  }
}

@media print {
  body {
    --surface: var(--white);
    --background: var(--white);
  }

  .skc-root-layout {
    .skc-page-header__blobs,
    > .skc-fab,
    > .skc-nav-bar {
      display: none;
    }
  }
}

/* ── Global styles ───────────────────────────────────────────────────────── */

.skc-sr-only {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

:root {
  --inline-forward: 1;
}
[dir="rtl"] {
  --inline-forward: -1;
}

/* Focus ring animation for non-input elements */
:not(input, textarea) {
  &,
  &:focus-visible {
    --_focus-ring-color: var(--color-primary);
    outline: 0 solid var(--_focus-ring-color);
    outline-offset: 2px;
  }
  &:focus-visible {
    animation: skc-focus var(--duration-long-4) var(--ease-standard) forwards;
  }
}
@media (any-hover: none) {
  :not(input, textarea):focus-visible {
    animation: none;
  }
}
@keyframes skc-focus {
  0% {
    outline-width: 0px;
  }
  25% {
    outline-width: 8px;
  }
  100% {
    outline-width: 3px;
  }
}

/* Reduced motion */
@keyframes skc-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes skc-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (prefers-reduced-motion: reduce) {
  :not(input, textarea):focus-visible {
    animation: none;
    outline-width: 3px;
  }
}
