/**
 * **Root Layout**
 * The container of everything inside an application. Components which must
 * appear only once — Navigation Drawer, Navigation Bar, FAB, and Page Header
 * — only work optimally as direct descendants of Root Layout.
 */

body {
  margin: 0;
  overflow-x: hidden;
}

.skc-root-layout {
  font-size: var(--text-base);

  > .skc-nav-bar {
    position: fixed;
    z-index: 70;
    inset: 0;

    .skc-fab {
      position: fixed;
      right: 1rem;
      bottom: calc(5rem + 1rem);
    }
  }

  > .skc-progress {
    position: fixed;
    inset: 0;
  }
}

@media only screen and (width < 600px) {
  .skc-root-layout {
    padding-bottom: 5rem;

    > .skc-nav-bar {
      top: auto;
    }
  }

  .skc-root-layout:has(> .skc-nav-bar) .skc-snackbar {
    --_bottom-offset: 5rem;
  }
}

@media only screen and (width >= 600px) {
  .skc-root-layout {
    padding-bottom: 0;

    > .skc-nav-bar {
      right: auto;

      ~ .skc-progress {
        left: 5rem;
      }

      .skc-fab {
        position: relative;
        right: 0;
        bottom: 0;
      }
    }
  }
}

@media print {
  body {
    --surface: var(--white);
    --background: var(--white);
  }

  .skc-root-layout {
    .skc-page-header__blobs,
    > .skc-nav-bar {
      display: none;
    }
  }
}
