/**
 * **Search**
 * Search allows the user to quickly find something using a query.
 */

.skc-search {
  position: relative;
  border-radius: var(--radius-xl);
  background-color: var(--color-surface-container-high);
}

.skc-search::before {
  position: absolute;
  opacity: 0;
  transition: opacity var(--duration-short-4) var(--ease-standard);
  inset: 0;
  border-radius: inherit;
  background-color: var(--color-on-surface);
  pointer-events: none;
  content: "";
}

.skc-search__button {
  --_button-foreground-color: var(--color-on-surface);

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  inset-inline-start: 0.5rem;
}

.skc-search__input {
  --_state-layer-opacity: 0%;

  transition-duration: var(--duration-short-4);
  transition-property: background-color, outline-color;
  transition-timing-function: var(--ease-standard);
  box-sizing: border-box;
  outline: 3px solid transparent;
  outline-offset: -3px;
  border: 0;
  border-radius: inherit;
  background-color: color-mix(
    in srgb,
    var(--color-on-surface) var(--_state-layer-opacity),
    transparent
  );
  padding: 1rem;
  padding-inline: 3.25rem 0;
  width: 100%;

  &::placeholder {
    font-family: var(--font-display);
  }

  &:not([aria-disabled="true"]) {
    &:hover {
      --_state-layer-opacity: 8%;
    }
    &:focus-visible {
      --_state-layer-opacity: 0%;
      outline-color: var(--color-primary);
    }
  }
}

.skc-search:has(> [aria-disabled="true"]) {
  background-color: color-mix(
    in srgb,
    var(--color-surface-container-high) 38%,
    transparent
  );
  pointer-events: none;
}
