/**
 * **Split Layout**
 * List-detail views and supporting panel layouts can be created with Split
 * Layout.
 *
 * In a list-detail view, the left side is a list and the right is the list’s
 * detail. In a supporting panel layout, the main content takes focus with a
 * small column set aside for supporting content.
 */

@media (width < 38rem) {
  .skc-split-layout {
    padding-inline: 1rem;
  }

  .skc-split-layout--prefer-left > .skc-split-layout__content > :last-child,
  .skc-split-layout--prefer-right > .skc-split-layout__content > :first-child {
    display: none;
  }
}

@media (width >= 38rem) {
  .skc-split-layout::before {
    position: fixed;
    z-index: 20;
    inset: 0;
    background-image: linear-gradient(
      to bottom,
      var(--color-background),
      transparent
    );
    height: 5rem;
    pointer-events: none;
    content: "";

    @media (forced-colors: active) {
      background-color: Canvas;
    }
  }

  .skc-split-layout__content {
    display: grid;
    grid-template-columns:
      minmax(0, var(--_left-col-span))
      minmax(0, var(--_right-col-span));
    row-gap: 0.5rem;
    margin-inline: auto;
    width: calc(100% - 12rem);
    max-width: 72.5rem;

    .skc-split-layout--list-detail > & {
      --_left-col-span: 1fr;
      --_right-col-span: 1fr;
    }

    .skc-split-layout--supporting-panel > & {
      --_left-col-span: 5fr;
      --_right-col-span: 3fr;
    }

    > :first-child {
      position: sticky;
      top: 4.25rem;
      mask-image: linear-gradient(to bottom, transparent 0, black 1.5rem);
      padding-inline: 1rem 0.75rem;
      padding-block: 1.5rem;
      height: calc(100dvh - 4.25rem);
      overflow: hidden auto;
    }
    > :last-child {
      padding-inline: 0.75rem 1rem;
      padding-block: 1.5rem;
    }
  }

  .skc-split-layout--custom {
    --_left-col-span: var(--_left-col-span-sm);
    --_right-col-span: var(--_right-col-span-sm);
  }
}

@media (width >= 56rem) {
  .skc-split-layout__content {
    .skc-split-layout--list-detail & {
      --_left-col-span: 1fr;
      --_right-col-span: 2fr;
    }

    .skc-split-layout--supporting-panel & {
      --_left-col-span: 3fr;
      --_right-col-span: 1fr;
    }
  }

  .skc-split-layout--custom {
    --_left-col-span: var(--_left-col-span-lg);
    --_right-col-span: var(--_right-col-span-lg);
  }
}
