/**
 * **Switch**
 * A Switch toggles something on and off. It is usually in a Form Item. Unlike
 * Checkbox and Radio, a Switch is independent.
 */

.skc-switch {
  position: relative;
  transition: var(--duration-short-4) var(--ease-standard);
  transition-property: background-color, border-color;
  cursor: pointer;
  outline: none;
  border: 2px solid var(--color-outline);
  border-radius: var(--radius-full);
  background-color: var(--color-surface-variant);
  width: 3.25rem;
  height: 2rem;
  -webkit-tap-highlight-color: transparent;

  [dir="rtl"] &,
  &[dir="rtl"] {
    transform: scaleX(-1);
    .skc-switch__handle {
      transform: scaleX(-1);
    }
  }

  /* Disabled */
  &[aria-disabled="true"] {
    cursor: default;
    border-color: transparent;
    background-color: transparent;
    color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);

    &::before {
      position: absolute;
      inset: -2px;
      border: 2px solid
        color-mix(in srgb, var(--color-on-surface) 12%, transparent);
      border-radius: inherit;
      pointer-events: none;
      content: "";
    }

    > .skc-switch__handle {
      opacity: 0.38;
    }
  }

  /* Hover / focus / active state on handle */
  &:not([aria-disabled="true"]) {
    @media (any-hover: hover) {
      &:hover > .skc-switch__handle {
        background-color: var(--color-on-surface-variant);
      }
    }
    &:focus-visible > .skc-switch__handle,
    &:active > .skc-switch__handle {
      background-color: var(--color-on-surface-variant);
    }

    @media (any-hover: hover) {
      &:hover .skc-switch__handle::before {
        opacity: 0.08;
      }
    }

    &:focus-visible .skc-switch__handle::before,
    &:active .skc-switch__handle::before {
      opacity: 0.12;
    }
  }
}

.skc-switch__handle {
  display: grid;
  position: absolute;
  place-content: center;
  transition: var(--duration-short-4) var(--ease-standard);
  transition-property: inset, width, height, background-color;
  fill: var(--color-surface-variant);
  stroke: var(--color-surface-variant);
  inset: calc(0.5rem - 2px) auto auto calc(0.5rem - 2px);
  outline: none;
  border-radius: var(--radius-full);
  background-color: var(--color-outline);
  width: 1rem;
  height: 1rem;
  color: var(--color-surface-variant);

  .skc-material-icon {
    font-size: 1rem;
  }

  &:not(:empty) {
    inset: calc(0.25rem - 2px) auto auto calc(0.25rem - 2px);
    width: 1.5rem;
    height: 1.5rem;
  }

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity var(--duration-short-4) var(--ease-standard);
    border-radius: inherit;
    background-color: var(--color-on-surface);
    width: 2.5rem;
    height: 2.5rem;
    pointer-events: none;
    content: "";
  }
}

.skc-switch--selected {
  border-color: var(--color-primary);
  background-color: var(--color-primary);

  > .skc-switch__handle {
    fill: var(--color-on-primary-container);
    stroke: var(--color-on-primary-container);
    inset: calc(0.25rem - 2px) auto auto calc(1.5rem - 2px);
    background-color: var(--color-on-primary);
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-on-primary-container);
  }

  &:not([aria-disabled="true"]) {
    > .skc-switch__handle::before {
      background-color: var(--color-primary);
    }

    @media (any-hover: hover) {
      &:hover > .skc-switch__handle {
        background-color: var(--color-primary-container);
      }
    }
    &:focus-visible > .skc-switch__handle,
    &:active > .skc-switch__handle {
      background-color: var(--color-primary-container);
    }
  }

  &[aria-disabled="true"] {
    background-color: color-mix(
      in srgb,
      var(--color-on-surface) 12%,
      transparent
    );

    &::before {
      display: none;
    }

    > .skc-switch__handle {
      background-color: var(--color-surface);
      color: var(--color-on-surface);
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .skc-switch:not([aria-disabled="true"]) {
    &:active > .skc-switch__handle {
      inset: 0 auto auto 0;
      width: 1.75rem;
      height: 1.75rem;
    }

    &.skc-switch--selected:active > .skc-switch__handle {
      inset: 0 auto auto 1.25rem;
      width: 1.75rem;
      height: 1.75rem;
    }
  }
}
