/**
 * **Tab**
 * Tabs allow the user to switch between pages on the same level of a page
 * hierarchy. For example, an Overview, Students, and Teachers page of a class.
 */

.skc-tab {
  --state-layer-color: var(--on-surface-variant);
  --_duration: var(--motion-short-4);
  --_easing: var(--easing-standard);

  display: grid;
  place-items: center;
}

.skc-tab__content {
  display: flex;
  align-items: center;
  color: var(--on-surface-variant);
}

.skc-tab__icon .skc-material-icon {
  transition-property: font-weight, font-variation-settings;
  transition: var(--_duration) var(--_easing);
  font-variation-settings: "FILL" 0;

  .skc-tab:hover & {
    font-weight: var(--font-medium);
  }
  .skc-tab:active & {
    font-weight: var(--font-light);
  }
}

.skc-tab--selected .skc-tab__icon .skc-material-icon {
  font-variation-settings: "FILL" 1;
}

.skc-tabs-container--primary {
  .skc-tab {
    padding: 0.625rem 0.75rem;
  }

  .skc-tab__content {
    flex-direction: column;
    gap: 0.125rem;
  }

  .skc-tab__label {
    transition: color var(--_duration) var(--_easing);
  }

  .skc-tab--selected .skc-tab__content {
    color: var(--primary);
  }
}

.skc-tabs-container--secondary {
  .skc-tab {
    padding: 0.75rem 1rem;
  }

  .skc-tab__content {
    gap: 0.5rem;
  }
}
