/**
 * **Table Row**
 * A row of a Table, must be within a table area (Table Head, Table Body, or
 * Table Foot).
 */

.skc-table-row {
  display: table-row;
  position: relative;

  &:has(
    > .skc-table-cell > .skc-table-cell__content > .skc-table-row__actions
  ) {
    > .skc-table-cell {
      position: relative;

      &::before {
        position: absolute;
        opacity: 0;
        transition: opacity var(--motion-short-3);
        inset: 0;
        border-radius: inherit;
        background-color: var(--on-surface);
        pointer-events: none;
        content: "";
      }
    }

    &:hover > .skc-table-cell::before {
      opacity: 0.08;
    }

    &:focus-within > .skc-table-cell::before {
      opacity: 0.12;
    }
  }

  &:hover,
  &:focus-within {
    > .skc-table-cell > .skc-table-cell__content > .skc-table-row__actions {
      opacity: 1;
    }
  }
}

.skc-table-row__actions {
  position: absolute;
  opacity: 0;
  z-index: 10;
  transition: opacity var(--motion-short-4) var(--easing-standard);
  inset: calc((1.25rem + 2px) * -1) auto auto 0.75rem;
  border-radius: var(--rounded-full);
  background-color: var(--surface);
}
