/**
 * **Table**
 * A Table displays information in columns and rows, each row representing a
 * set of data in each aspect, represented by columns.
 */

.skc-table {
  border: 2px solid var(--color-outline-variant);
  border-radius: 1.25rem;
  background-color: var(--color-surface-container-low);
  overflow: auto;
}

.skc-table__content {
  border-collapse: collapse;
  background-color: var(--color-surface);
  width: 100%;
  text-indent: 0;

  > :first-child .skc-table-cell {
    border-top: 0;
  }
  > :last-child .skc-table-cell {
    border-bottom: 0;
  }
  .skc-table-cell:first-child {
    border-inline-start: 0;
  }
  .skc-table-cell:nth-last-child(2):has(+ .skc-table-row__actions),
  .skc-table-cell:last-child {
    border-inline-end: 0;
  }
}
