/**
 * **Table Head**
 * The head area of a Table.
 */

.skc-table-head {
  display: table-header-group;
}

.skc-table-head--fixed {
  position: sticky;
  z-index: 10;
  inset: 0;
  bottom: auto;
  box-shadow: 0 1px 0 var(--color-outline-variant);

  .skc-table-cell {
    border-bottom: 0;
  }
  + .skc-table-body > .skc-table-row:first-child > .skc-table-cell {
    border-top: 0;
  }
}
