/**
 * **Text Field**
 * A place for users to enter text.
 */

.skc-text-field {
  --_border-width: 1px;
  --_border-color: var(--color-outline);
  --_label-offset: 1rem;

  --_duration: var(--duration-short-4);
  --_ease: var(--ease-standard);

  position: relative;
  color: var(--color-on-surface-variant);
}

.skc-text-field__label {
  position: absolute;
  top: 1rem;
  transform-origin: left;
  z-index: 10;
  transition-property: color, transform;
  transition: var(--_duration) var(--_ease);
  inset-inline-start: var(--_label-offset);
  pointer-events: none;
  font-family: var(--font-display);

  [dir="rtl"] & {
    transform-origin: right;
  }

  .skc-text-field:focus-within & {
    color: var(--color-primary);
  }
}

/* ── Elements ────────────────────────────────────────────────────────────── */

/* Add an asterisk to the label if the input is required,
   and also add it to the clip so the length still matches */
:is(.skc-text-field__clip, .skc-text-field__label):has(
    ~ .skc-text-field__box > .skc-text-field__input:required
  )::after {
  content: " *";
  color: var(--color-error);
}

.skc-text-field__box {
  display: flex;
  flex-direction: row;
  transition: border-color var(--_duration) var(--_ease);
  box-sizing: border-box;
  width: 100%;

  > :first-child {
    padding-inline-start: var(--_box-padding-inline);
  }
  > :last-child {
    padding-inline-end: var(--_box-padding-inline);
  }
}

.skc-text-field__input {
  flex-grow: 1;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  width: 0;
  min-height: 3.5rem;
  color: var(--color-on-surface);
  font: inherit;
  letter-spacing: inherit;
  text-align: start;

  &:focus {
    outline: none;
  }

  /* Add gap between spinner and right edge / trailing content */
  &[type="number"] {
    padding-inline-end: 1rem;
  }
  /* tel inputs on Chrome are always left-to-right, so we add a non-logical left
     padding */
  [dir="rtl"] &[type="tel"] {
    padding-left: 1rem;
  }
  &[type="color"] {
    padding-block: 0;
  }
}
.skc-text-field__input--static {
  height: 1.5rem;
}

.skc-text-field__leading {
  .skc-material-icon {
    margin-inline-end: 0.5rem;
  }

  .skc-text-field:has(> .skc-text-field__box > &) {
    --_label-offset: 3rem;
  }
}

.skc-text-field__no-files {
  position: absolute;
  inset-inline-start: var(--_label-offset);
}

.skc-text-field__trailing {
  .skc-material-icon {
    margin-inline-start: 0.5rem;
  }
}

.skc-text-field__helper-msg {
  position: absolute;
  inset: auto 0 -2.25rem 1rem;
  height: 2rem;
}

/* ── Appearance ──────────────────────────────────────────────────────────── */

.skc-text-field--outlined {
  .skc-text-field__clip {
    position: absolute;
    top: 0;
    transform: scaleX(0);
    z-index: 10;
    transition: transform var(--_duration) var(--_ease);
    inset-inline-start: 0.75rem;
    background-color: var(--adaptive-background);
    padding-inline: 0.25rem;
    height: var(--_border-width);
    overflow: hidden;
    pointer-events: none;
    font-family: var(--font-display);
  }

  &:has(
    /* If the input is focused,
       or if the input has text in it (placeholder is not shown),
       or if animation is disabled through other means */
      :is(
        .skc-text-field__input:focus,
        .skc-text-field__input:not(:placeholder-shown),.skc-text-field__input--static
      )
    ) {
    /* Clip away part of the border to make space for the label */
    .skc-text-field__clip {
      transform: scaleX(1);
    }
    /* And move the label to the top left and scale it down */
    .skc-text-field__label {
      transform: translateX(
          calc((var(--_label-offset) * -1 + 1rem) * var(--inline-forward))
        )
        translateY(-1.75rem) scale(0.75);
    }
  }

  .skc-text-field__box {
    --_box-padding-inline: calc(1rem - var(--_border-width));
    border: var(--_border-width) solid var(--_border-color);
    border-radius: var(--radius-xs);

    > * {
      margin-block: calc(-1 * var(--_border-width));
      padding-block: 1rem;
    }

    > [type="color"] {
      padding-block: 0.75rem;
    }
  }
}

.skc-text-field--filled {
  &::before {
    position: absolute;
    opacity: 0;
    transition: opacity var(--_duration) var(--_ease);
    inset: 0;
    background-color: var(--color-on-surface-variant);
    content: "";
  }
  &:not(.skc-text-field--disabled):hover:not(:focus-within)::before {
    opacity: 0.08;
  }

  .skc-text-field__clip {
    display: none;
  }

  &:has(
    /* See above for explanation */
    :is(
      .skc-text-field__input:focus,
      .skc-text-field__input:not(:placeholder-shown),
      .skc-text-field__input--static
    )
  ) .skc-text-field__label {
    transform: translateX(0) translateY(-0.75rem) scale(0.75);
  }

  .skc-text-field__box {
    --_box-padding-inline: 1rem;

    border-bottom: var(--_border-width) solid var(--_border-color);
    border-radius: var(--radius-xs) var(--radius-xs) 0 0;
    background-color: var(--color-surface-variant);

    > * {
      transform: translateY(0);
      transition: transform var(--_duration) var(--_ease);
      margin-bottom: calc(-1 * var(--_border-width));
      padding-block: 1rem;
    }

    /* Move the input and the trailing text element down when the input is
      focused or has text in it */
    &:focus-within,
    &:has(.skc-text-field__input:not(:placeholder-shown)) {
      > :not(:has(.skc-material-icon)) {
        transform: translateY(0.5rem);
      }
    }
    /* Static inpurts and the “No files attached” message does not move and is
       always translated down */
    > .skc-text-field__input--static,
    > .skc-text-field__no-files {
      transform: translateY(0.5rem);
    }
  }

  /* Prevent the resize handle from translating down beyond the bottom of the
     box */
  &.skc-text-field--textarea textarea.skc-text-field__input {
    &:focus,
    &:not(:placeholder-shown) {
      transform: translateY(0);
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
    }
  }
}

.skc-text-field:not(.skc-text-field--disabled) {
  &:hover {
    --_border-color: var(--color-on-surface);
  }
  &:focus-within {
    --_border-width: 3px;
    --_border-color: var(--color-primary);
    outline: none;
  }
}

/* ── Disabled ────────────────────────────────────────────────────────────── */

.skc-text-field--disabled {
  --_border-color: color-mix(in srgb, var(--color-outline) 12%, transparent);
  color: color-mix(in srgb, var(--color-on-surface) 38%, transparent);

  &:focus-within {
    --_border-color: var(--color-primary);
    --_border-width: 3px;
  }

  .skc-text-field__input {
    opacity: 0.38;
    color: var(--color-on-surface);
  }

  &.skc-text-field--filled .skc-text-field__box {
    background-color: color-mix(
      in srgb,
      var(--color-on-surface) 4%,
      transparent
    );
  }
}

/* ── Error ───────────────────────────────────────────────────────────────── */

.skc-text-field--error,
.skc-text-field:not(.skc-text-field--valid):has(
    .skc-text-field__input:user-invalid
  ) {
  --_border-color: var(--color-error);

  &,
  &:focus-within .skc-text-field__label {
    color: var(--color-error);
  }
}

/* ── Alignment ───────────────────────────────────────────────────────────── */

.skc-text-field--left .skc-text-field__input {
  text-align: start;
}
.skc-text-field--center .skc-text-field__input {
  text-align: center;
}
.skc-text-field--right .skc-text-field__input {
  text-align: end;
}

/* ── Behavior ────────────────────────────────────────────────────────────── */

.skc-text-field--multi-line .skc-text-field__input {
  field-sizing: content; /* Allow the height to grow with content */
  resize: none;
}
.skc-text-field--textarea .skc-text-field__input {
  height: calc(3lh + 2rem); /* Default to 3 lines of text + padding */
}

/* ── Other ───────────────────────────────────────────────────────────────── */

/* No files: hide the input and show a message instead.
   Has file: show the input. The message is hidden programmatically. */
.skc-text-field__input[type="file"] {
  opacity: 0;

  &::file-selector-button {
    opacity: 0;
    margin: 0;
    width: 0;
  }

  &.skc-text-field__input--has-file {
    opacity: 1;
  }
}

/* Autofill */
.skc-text-field:has(.skc-text-field__input:autofill) {
  .skc-text-field__box {
    background-color: var(--color-tertiary-container);
  }
  &:focus-within {
    --_border-color: var(--color-tertiary);
    .skc-text-field__label {
      color: var(--color-tertiary);
    }
  }
}
.skc-text-field__input:autofill {
  /* The user agent stylesheet sets an unoveridable yellow background color on
     autofill. Delaying the transition for a LONG time allows the background
     color to be overridden by the background-color property. */
  transition: background-color 0s ease-in-out 5000s;
}
