@layer theme, base, skc, components, utilities;
@import "tailwindcss";
@import "./theme.css";
@import "./prose.css";

@theme inline {
  --animate-focus: skc-focus var(--duration-long-4) var(--ease-standard)
    forwards;
}

@utility state-layer-* {
  --state-layer-color: --value(--color-*);
}

@custom-variant body {
  body:has(> &) {
    @slot;
  }
}

/* iPadOS identifies as `any-hover` and not `hover`, so this override is
   necessary. This still prevents hover styles from being applied on devices
   that do not support hover, like smartphones. */
@custom-variant hover {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }
}

@custom-variant light {
  :where(.scheme-light) & {
    @slot;
  }
  @media (prefers-color-scheme: light) {
    :root:not(.scheme-dark) & {
      @slot;
    }
  }
}
@custom-variant dark {
  :where(.scheme-dark) & {
    @slot;
  }
  @media (prefers-color-scheme: dark) {
    :root:not(.scheme-light) & {
      @slot;
    }
  }
}
